<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><a href="{% url 'url_exit' %}">&larr; sair</a></h3>
    <fieldset>
        <legend>Perfil</legend>
        <ul style="list-style: none;">
            <li><p style="font-weight: normal;"><b>ID: </b>{{ current_user.id }}</p></li>
            <li><p style="font-weight: normal;"><b>Nome: </b>{{ current_user.name }}</p></li>
            <li><p style="font-weight: normal;"><b>E-mail: </b>{{ current_user.email }}</p></li>
            <li><p style="font-weight: normal;"><b>Administrador: </b>
                {% if current_user.is_admin %}
                    Sim
                {% else %}
                    Não
                {% endif %}
            </p></li>
            <li><p><b>Ações: </b>
                <a>Editar</a> / <a>Apagar conta</a>
            </p></li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>Utilizadores</legend>
        <ul>
            <li><p>
                <a href="{% url 'url_create_user' %}">Criar utilizador</a>
            </p></li>
            <li><p>
                <a href="{% url 'url_read_user' %}">Listar utilizadores</a>
            </p></li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>Notícias</legend>
        <ul>
            <li><p>
                <a>Criar notícia</a>
            </p></li>
            <li><p>
                <a>Listar notícias</a>
            </p></li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>Grupos</legend>
        <ul>
            {% if current_user.is_admin %}
                <li><p>
                    <a href="{% url 'url_create_group' %}">Criar grupo</a>
                </p></li>
            {% endif %}
            <li><p>
                <a href="{% url 'url_read_group' %}">Listar grupos</a>
            </p></li>
        </ul>
    </fieldset>
</body>
</html>