<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <style>
      body,
      h1,
      h2,
      h3,
      h4,
      h5 {
        font-family: "Raleway", sans-serif;
      }
    </style>
  </head>
  <body>
    <h3><a href="{% url 'url_home' %}">&larr; voltar</a></h3>
    <fieldset>
      <legend>Lista de notícias</legend>
      {% for notice in notices %}
      <div class="w3-card-4 w3-margin w3-white" style="display: flex">
        {% if notice.image_url %}
        <img src="{{ notice.image_url }}" style="width:150px; height:170px;" />
        {% endif %}
        <div>
          <div class="w3-container">
            <h4><b>{{ notice.title }}</b>
              {% if current_user.is_admin or current_user.id == notice.user.id %}
                <span style="margin-left: 30px; font-size: medium;">
                  <a href="{% url 'url_update_notice' notice.id %}">Editar</a> /
                  <a href="{% url 'url_delete_notice' notice.id %}">Excluir</a>
                </span>
              {% endif %}
            </h4>
            <p>
              {% if notice.description %} {{ notice.description }}, {% endif %}
              <span class="w3-opacity">{{ notice.last_modified }}</span>
            </p>
            <h5>{{ notice.content }}</h5>
            <p>
              <b>Autor: </b
              ><span class="w3-opacity">{{ notice.user.name }}</span>
              {% if notice.group %}
                <b style="margin-left: 10px;">Grupo: </b
                  ><span class="w3-opacity">{{ notice.group.name }}</span>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
      <hr />
      {% endfor %}
    </fieldset>
  </body>
</html>
