<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <style>
      body,
      h1,
      h2,
      h3,
      h4,
      h5 {
        font-family: "Raleway", sans-serif;
      }
    </style>
  </head>
  <body>
    <fieldset>
      <legend>Bem Vindo</legend>
      <ul>
        <li>
          <h3><a href="{% url 'url_enter' %}">Entrar</a></h3>
        </li>
        <li>
          <h3><a href="{% url 'url_create_account' %}">Criar conta</a></h3>
        </li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Notícias públicas</legend>
      {% for notice in notices %}
        {% if notice.is_public %}
          <div class="w3-card-4 w3-margin w3-white" style="display: flex">
            {% if notice.image_url %}
            <img src="{{ notice.image_url }}" style="width:150px; height:170px;" />
            {% endif %}
            <div>
              <div class="w3-container">
                <h4><b>{{ notice.title }}</b></h4>
                <p>
                  {% if notice.description %} {{ notice.description }}, {% endif %}
                  <span class="w3-opacity">{{ notice.last_modified }}</span>
                </p>
                <h5>{{ notice.content }}</h5>
                <p>
                  <b>Autor: </b
                  ><span class="w3-opacity">{{ notice.user.name }}</span>
                  {% if notice.group %}
                    <b style="margin-left: 10px;">Grupo: </b
                      ><span class="w3-opacity">{{ notice.group.name }}</span>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
          <hr />
        {% endif %}
      {% endfor %}
    </fieldset>
  </body>
</html>
